<div class="footerTdnPreview" [ngStyle]="{backgroundColor: 'black'}">
    <div class="informationContact">
        {{brandName}}
    </div>
    <div class="payingMeans">
        <img class="paymentMeanImage" src="../../../../assets/img/visa_master.png">
    </div>
    <div class="affiliatedLinks">
        <a href="">Mon Compte</a><br>
        <a href="">Conditions d'utilisationAssistance</a><br>
        <a href="">Politique de confidentialité</a><br>
        <a href="">Informations légales</a>
    </div>
</div>
